*{
  padding: 0em;
	margin: 0em;
}

/* Layout per desktop*/
html, body {
  height: 100%;
  width:100%;
  max-width: 1024px;
	margin: auto;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 0.9em;

}

/* ESPERIMENTO
* Grid layout per la pagina home
*/

/*
* CAPIRE COSA FA IL VALORE auto!!!
*/
.aiuti_alla_navigazione{
    position: absolute;
    height: 0;
    overflow: hidden;
}

.layoutColonna {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-gap: 1em;
  grid-template-areas:
        "h"
        "b"
        "c"
        "f";
}

.layoutColonnaHeader     { grid-area: h; }
.layoutColonnaBreadcrumb { grid-area: b; }
.layoutColonnaContent    { grid-area: c; }
.layoutColonnaFooter     { grid-area: f; }

.citta{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
  grid-template-areas:
        "a a a b b b"
        "c c d d e e";
}

.citta1 { grid-area: a; }
.citta2 { grid-area: b; }
.citta3 { grid-area: c; }
.citta4 { grid-area: d; }
.citta5 { grid-area: e; }

.card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
  grid-template-areas:
        "a a b b c c"
        "d d e e f f";
}

.card1 { grid-area: a; }
.card2 { grid-area: b; }
.card3 { grid-area: c; }
.card4 { grid-area: d; }
.card5 { grid-area: e; }
.card6 { grid-area: f; }


/* ESPERIMENTO
* Grid layout per la pagina dei risultati
*/

.layoutTrePannelli {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-template-areas:
        "h h h h"
        "b b b b"
        "x c c c"
        "x c c c"
        "f f f f";
}

.layoutTrePannelliHeader     { grid-area: h; }
.layoutTrePannelliBreadCrumb { grid-area: b; }
.layoutTrePannelliLeftSide   { grid-area: x; }
.layoutTrePannelliContent    { grid-area: c; }
.layoutTrePannelliFooter     { grid-area: f; }

/*
* LAYOUT PER PAGINA DI REGISTRAZIONE E LOGIN
*/

.layoutCentrale{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-template-areas:
        "h h h h"
        "b b b b"
        ". c c ."
        ". c c ."
        "f f f f";
}

.layoutCentraleHeader     { grid-area:h ;}
.layoutCentraleBreadCrumb { grid-area:b ;}
.layoutCentraleContent    { grid-area:c ;}
.layoutCentraleFooter     { grid-area:f ;}

#header ul{
   list-style: none;
   display:flex;
   border:1px solid #000;
   border-left:0;
}

#header li {
flex: 1 1 0em;
border-left:1px solid #000;
text-align:center
}



.risultati dt {

  margin-bottom:0.1em;
  clear:both; /* per andare a capo */
}

.risultati dt > a {
  font-size: 2em;
  float:left;
}

.risultati dt > p {
  font-size: 1em;
  float:right;
  margin-top:1em;
}

.risultati dd {
  clear:both;
  border:1px solid #000;
  margin-bottom:1em;
  min-height: 14em;
}

.risultati dd > img {
    float:left;
    padding:0.5em;
    width:12em;
    height:12em;
}

.risultati dd > p {
  padding-top:0.5em;
  margin-left: 13em;
}

.risultati dd p + p  {
  float:right;
  font-weight:bold;
  padding-right:0.5em;
}




/* FORM VERTICALI
* Impostazioni aggiuntive per inserire in verticale gli elementi del form
* tramite CSS
*/

/*
* CSS PER I FORM
*/
.form {
  display:flex;
  align-items:center;
}

.form input {
  vertical-align: middle;
  margin: 0.5em 1em 0.5em 0;
  padding: 0.5em;
  background-color: #fff;
  border: 0.1em solid #ddd;
}
.form textarea {
    min-width: 90%;
    min-height: 11em;
    margin-right: 5%;
    margin-left: 5%;
}
.form input[type=file] {
    width: 90%;
    margin-left: 5%;
}
.form input[type=submit] {
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form label {
  margin: 0.5em 1em 0.5em 0;
}

.form input[type=submit]:hover {
  background-color: royalblue;
}

/*
* IMPOSTA CERCA ORIZZONTALE
*/
.formOrizzontale input {
  font-size:1em;
}

.formOrizzontale label {
  font-size:1em;
}


/*
* IMPOSTA CERCA VERTICALE
*/

.formVerticale {
  flex-direction:column;
  align-items:stretch;
}

.formVerticale input, label {
    font-size:1.5em;
}
/*CSS per il menu della gestione annuncio*/
#content .menu_gestione_annuncio {
    display: inline;
}
.menu_gestione_annuncio ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu_gestione_annuncio li {
    float: left;
}

.menu_gestione_annuncio li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
#content .dettaglio_annuncio{
    display: block;
    width: 80%;
}
#content .dettaglio_annuncio img{
    height: 50%;
    width: 50%;
    float: right;
    padding-top:5em;
}
#content .dettaglio_annuncio p{
    font-size: 1.5em;
}
#content .dettaglio_annuncio hr{
    width: 100%;
    color: black;
    padding-top:2px;

}
/*CSS per pagina indisponibilita*/
#content ul li {
    font-size: 1.5em;
}
#content  .stile_indisponibilita_modifica{
    text-decoration: none;
    margin: 2em;
}
#content .stile_indisponibilita_elimina{
    text-decoration: none;
    color: red;
    margin: 2em;
    background: #dddddd;
}
/*CSS per lista annunci guest*/
.annuncio_lista_annuncio{
    min-height: 12em;
    /*border: 3px solid red;*/
}
.annuncio_lista_annuncio img{
    border: 3px solid red;
    float: right;
}

/*CSS per lo storico delle prenotazioni*/
#content .storico_prenotazioni h2{

}
#content .storico_prenotazioni {

}

#content .storico_prenotazioni .intestazione_campo{
    color: black;
    font-family:Arial, sans-serif;
    font-size: 1.5em;
}

/* CSS per le liste non ordinate */
#content ul{
    list-style-type: none;
}

#footer {
  text-align: center;
  border: 1px solid #000;
}

/*rende il footer orizzontale*/
#footer ul li {
    display: inline;
}

/* Riepilogo prenotazione */
#content ul#dati_prenotazione {
  list-style-type: none;
}

/* Footer */
#footer ul {
  list-style-type: none;
}
