<h3>Aggiungi un commento alla prenotazione</h3>
<form action="./riepilogo_prenotazione.php" method="post" class="form form_verticale" onsubmit="return validazione_form_inserisci_commento()">
    <INFO_BOX/>
    <fieldset>
        <legend class="aiuti_alla_navigazione">Inserisci un commento</legend>
        <input type="hidden" name="id_prenotazione" id="id_prenotazione" value="<IDPRENOTAZIONE/>" />
        <div>
            <label for="titolo_commento">Titolo</label>
            <input type="text" name="titolo_commento" id="titolo_commento" maxlength="64" value="<VALUETITOLOCOMMENTO/>"/>
        </div>
        <div>
            <label for="testo_commento">Commento</label>
            <textarea name="testo_commento" id="testo_commento" cols="10" rows="4"><VALUETESTOCOMMENTO/></textarea>
        </div>
        <div>
            <label for="valutazione_commento">Valutazione (un voto da 1 a 5)</label>
            <input type="text" name="valutazione_commento" id="valutazione_commento" maxlength="1" value="<VALUEVOTOCOMMENTO/>"/>
        </div>
        <div>
            <label class="aiuti_alla_navigazione" for="pubblica_commento">Conferma la pubblicazione</label>
            <input type="submit" id="pubblica_commento" name="pubblica_commento" value="Pubblica il commento" />
        </div>
    </fieldset>
</form>