<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Nuovo annuncio | Frent</title>

    <link rel="icon" href="../immagini/icona.ico"/>
    <link rel="stylesheet" href="../css/main.css">
    <!--<script src="script.js"></script>
  -->
</head>
<body class="layout_centrale">
<HEADER/>
<div id="breadcrumb">
    <p>Ti trovi in: <a href="./index.php" tabindex="5" title="Vai alla pagina di ricerca" xml:lang="en">Home</a> &gt;&gt; <a href="./miei_annunci.php" tabindex="6" title="Torna nei miei annunci">I miei annunci</a> &gt;&gt; Aggiungi Annuncio - Passaggio 2</p>
</div>


<div id="content">
    <h1>Inserisci la descrizione delle foto</h1>

    <form action="<SELF/>" method="post" class="form form_orizzontale">

        <fieldset>
            <legend class="aiuti_alla_navigazione">Inserisci la descrizione delle foto:</legend>
            <ul>
                <li>
                    <FOTODACOMMENTARE/>
                    <div class="commenti_foto">
                        <img src="../immagini/img1.png" alt="Immagine che hai deciso di caricare.">
                        <label for="commento1">
                            <textarea id="commento1" maxlength="512" rows="8" cols="30"
                                      placeholder="Inserisci la descrizione della foto con nome.png"></textarea>
                        </label>
                    </div>
                </li>
            </ul>


        </fieldset>
        <input type="submit" value="Conferma" tabindex="15">
        <input type="reset" value="Ripristina" tabindex="16">

    </form>
</div>

<FOOTER/>

</body>
</html>







