<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=utf-8"/>
    <title>Modifica Annuncio</title>

    <link rel="icon" href="../immagini/icona.ico"/>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="layout_tre_pannelli gestione_annunci_mobile">

<HEADER/>
<div id="breadcrumb">
    <p>Ti trovi in: <a href="./index.php" title="Vai alla pagina di ricerca" xml:lang="en">Home</a> &gt;&gt; <a
            href="./miei_annunci.php" title="Torna nei miei annunci">I miei annunci</a> &gt;&gt;
        <TITOLO/>
    </p>
</div>

<div id="laterale">
    <ul class="menu_gestione_annuncio">
        <li class="menu_gestione_annuncio_selected">Modifica</li>
        <li><a href="./storico_prenotazioni.php"
               title="Visualizzare tutte le prenotazioni relative a questo annuncio">Storico</a></li>
        <li><a href="script_elimina_annuncio.php?id=<IDANNUNCIO/>" title="Elimina annuncio">Elimina Annuncio</a></li>
    </ul>
</div>

<div id="content" class="content_gestione_annuncio">
    <h1 class="titolo_gestione_annuncio">Gestione annuncio
        <TITOLO/>
    </h1> <!--TODO: PHP-->
    <div id="info_box"></div>
    <form onsubmit="return validazione_form_modifica_annuncio();" action="./modifica_annuncio.php" method="post"
          class="form form_verticale" enctype="multipart/form-data">
        <fieldset>
            <!-- TODO: aggiungere i valori dell'annuncio da modificare con PHP -->
            <legend class="aiuti_alla_navigazione">Dati annuncio</legend>
            <div>
            <label for="descrizione">Descrizione <small>(devono essere informazioni utili: pi&ugrave; esaustive sono, pi&ugrave; &egrave; possibile che il tuo annuncio venga scelto!)</small></label>
            <textarea id="descrizione" name="descrizione" maxlength="512"><DESCRIZIONE/></textarea>
            
            <label for="max_ospiti">Numero ospiti <small>(quanti ospiti possono essere presenti al massimo)</small></label>
            <input type="text" name="max_ospiti" id="max_ospiti" maxlength="2" value="<NUMOSPITIMAX/>"/>

            <label for="anteprima">Immagine di anteprima dell'annuncio <small>(l'immagine pu&ograve; essere in formato <span xml:lang="en">JPG</span>, <span xml:lang="en">JPEG</span>, <span xml:lang="en">PNG</span> ed avere una dimensione massima di 2 MB)</small></label>
            <input type="file" id="anteprima" name="anteprima" accept=".png, .jpg, .jpeg"/>
            
            <label for="desc_anteprima">Descrizione per l'immagine di anteprima <small>(deve descrivere l'immagine di anteprima che hai selezionato)</small></label>
            <textarea id="desc_anteprima" name="desc_anteprima" maxlength="256"><DESCANTEPRIMA/></textarea>

            <label for="prezzo_notte">Prezzo per notte <small>(in &euro;)</small></label>
            <input type="text" id="prezzo_notte" name="prezzo_notte" value="<PREZZONOTTE/>" />

        </fieldset>
        <fieldset>
            <legend class="aiuti_alla_navigazione">Indirizzo</legend>
            <div>
                <label for="indirizzo">Indirizzo <small>(via e numero civico)</small></label>
                <input type="text" name="indirizzo" id="indirizzo" maxlength="128" value="<INDIRIZZO/>" />
            </div>
            <div><label for="citta">Citt&agrave;</label>
                <input type="text" name="citta" id="citta" maxlength="128" value="<CITTA/>" />
            </div>

        </fieldset>
        <!--      questi due tabindex dipenderanno dal numero delle foto che ci sara-->
        <input type="submit" id="aggiorna" name="aggiorna" value="Aggiorna">
        <input type="reset" value="Annulla Modifiche">
    </form>
</div>
<FOOTER/>
</body>
</html>

