<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NOME_ANNUNCIO_AGGIUNTO_CON_PHP - Frent</title> <!--TODO: PHP-->

    <meta name="description" content="DESCRIZIONE ANNUNCIO"/> <!--TODO: PHP-->
    <meta name="keyword" content="Casa,Appartamento,Affitto,Frent"/>
    <meta name="language" content="italian it"/>
    <meta name="author" content="Tommaso Azzalin, Marco Ferrati, Giulio Umbrella, Xiaowei Wen"/>


    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <link rel="icon" href="../immagini/icona.ico"/>
</head>
<body class="layout_colonna">
<HEADER/>
<!--<div id="header">-->
<!--    <div id="logo">-->
<!--        <h1>Frent</h1>-->
<!--    </div>-->
<!--    <div id="nav">-->
<!--        <ul>-->
<!--            <li><a tabindex="1" href="index.html" title="Vai alla pagina di ricerca degli annunci">Cerca annunci</a>-->
<!--            </li>-->
<!--            <li><a tabindex="2" href="login.html" title="Vai alla pagina di accesso">Accedi</a></li>-->
<!--            <li><a tabindex="3" href="registrazione.html" title="Vai alla pagina di registrazione">Registrati</a></li>-->
<!--            <li><a tabindex="4" href="mie_prenotazioni.html" title="Vai alla pagina delle prenotazioni effettuate">Le-->
<!--                mie prenotazioni</a></li>-->
<!--            <li><a tabindex="5" href="miei_annunci.html" title="Vai alla pagina degli annunci posseduti">I miei-->
<!--                annunci</a></li>-->
<!--            <li><a tabindex="6" href="mio_profilo_visualizza.html" title="Vai alla pagina del profilo">Il mio-->
<!--                profilo</a></li>-->
<!--            <li><a tabindex="7" href="#" title="Effettua la disconnessione">Esci</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->

<div id="breadcrumb">
    <p> Ti trovi in: <a href="index.html" title="Vai alla pagina delle ricerca annunci" tabindex="6"><span
            xml:lang="en">Home</span></a>:&gt;&gt;<a href="risultati.html">Ricerca</a> &gt;&gt; <TITOLO_ANNUNCIO/></p>
</div>

<div id="content">
    <div class="informazioni_prenotazione">
        <h1 class="titolo_annuncio">TITOLO LUNGHISSSSSIIIIIMOOOO</h1>
<!--        <h1 class="titolo_annuncio"><TITOLO_ANNUNCIO/></h1>-->
        <h2>Valutazione media: <Valutazione/></h2>
        <h2>Numero commenti ricevuti:<NUMEROCOMMENTI/> </h2>
        <h2>Prezzo <PREZZO/>&euro;</h2>
        <p>Numero ospiti massimo: <OSPITIMASSIMO/></p>
        <form action="../../html/conferma_prenotazione.html" method="post" class="form form_verticale">
            <fieldset>
                <label for="data_inizio">Data inizio</label>
                <input id="data_inizio" name="data_inizio" type="date">
                <label for="data_fine">Data fine</label>
                <input id="data_fine" name="data_fine" type="date">
                <label class="aiuti_alla_navigazione" for="conferma_prenotazione">Conferma prenotazione</label>
                <input id="conferma_prenotazione" name="conferma_prenotazione" type="submit" value="Prenota"/>
            </fieldset>
        </form>
    </div>

   <IMMAGINE/>


    <p>
     <DESCRIZIONE/>


    </p>
    <div id="commenti">
        <h2>Commenti</h2>

            <Commenti/>
<!--        <ul>-->
<!--            <li>-->
<!--                <div class="intestazione_commento">-->
<!--                    &lt;!&ndash; Chiedere se va bene img &ndash;&gt;-->
<!--                    <img src="../../immagini/me.jpg" alt=""/>-->
<!--                    <div>-->
<!--                        <p class="username_commento">UserNameUserNameUserNameUserName</p>-->
<!--                        <p class="data_commento">Data</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="corpo_commento">-->
<!--                    <h1>TitoloTitoloTitoloTitoloTitoloTitolo</h1>-->
<!--                    <p>Votazione: 3/5</p>-->
<!--                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut-->
<!--                        labore-->
<!--                        et dolore magna aliqua.-->
<!--                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--                        consequat.-->
<!--                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla-->
<!--                        pariatur.-->
<!--                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim-->
<!--                        id-->
<!--                        est laborum."-->
<!--                    </p>-->
<!--                </div>-->
<!--            </li>-->

<!--        </ul>-->
    </div>
</div>

<div id="footer">
    <ul>
        <li>Frent - Progetto di Tecnologie Web A.A. 2019/2020</li>
        <li><a href="condizioni_di_utilizzo.html" title="Vai alle condizioni di utilizzo di Frent">Condizioni di
            utilizzo</a></li>
        <li><a href="../../html/faq.html" title="Vai alla pagina delle FAQ"><abbr xml:lang="en" title="Frequently Asked Questions">FAQ</abbr></a>
        </li>
    </ul>
</div>


</body>
</html>
