<form action="./script_controllo_dati_prenotazione.php" method="post" class="form form_verticale">
    <div id="credenziali_errate"><MSG/></div>
    <fieldset>
        <label for="data_inizio">Data inizio</label>
        <input id="data_inizio" name="data_inizio"  min="<MINDAYB/>" max="<MAXDAYB/>" value="<VALUEINIZIO/>"type="date">
        <label for="data_fine">Data fine</label>
        <input id="data_fine" name="data_fine" value="<VALUEFINE/>" min="<MINDAYE/>" max="<MAXDAYE/>" type="date">
        <label for="numOspiti">Num Ospiti</label>
        <input type="number" name="numOspiti" id="numOspiti" min="1" max="99" value="<VALUENUMERO/>"/>
        <label class="aiuti_alla_navigazione" for="conferma_prenotazione">Conferma prenotazione</label>
        <input id="conferma_prenotazione" name="conferma_prenotazione" type="submit" value="Prenota"/>
    </fieldset>
</form>

