<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=utf-8"/>
    <title>FAQ - Frent</title>

    <meta name="description" content="Condizioni di utilizzo del popolare sito di affitto case"/>
    <meta name="keyword" content="Case,Affitto"/>
    <meta name="language" content="italian it"/>
    <meta name="author" content="Tommaso Azzalin, Marco Ferrati, Giulio Umbrella, Xiaowei Wen"/>

    <link rel="icon" href="../immagini/icona.ico" />
    <link rel="stylesheet" type="text/css" href="../css/main.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../css/print.css" media="print"/>
</head>
<body class="layout_colonna">

<HEADER/>

<div  id="breadcrumb">
    <p>Ti trovi in: <a href="../php/components/index.php" title="Vai alla homepage" xml:lang="en">Home</a> &gt;&gt; <abbr title="Frequently Asked Question">F.A.Q</abbr></p>
</div>

<div  id="content" class="list list_pagina_statica">
    <h1><abbr title="Frequently Asked Question">F.A.Q</abbr></h1>
    <dl>
        <dt>Cos'&egrave; Frent?</dt>
        <dd>
            <p>Frent &egrave; un sito che permette agli utenti registrati di prenotare una casa, una camera o un appartamento messo a disposizione da altri utenti registrati</p>
        </dd>
        <dt>Come faccio a prenotare qualcosa?</dt>
        <dd>
            <ol>
                <li>Fai un ricerca partendo dalla <span xml:lang="en">homepage</span></li>
                <li>Scorri gli annunci finch&egrave; non ne trovi uno che ti aggrada</li>
                <li>Cliccando sull'annuncio si aprir&agrave; la pagina con i dettagli di quell'annuncio</li>
                <li>Cliccando sul pulsante "prenota" si verr&agrave; portati nella pagine riepilogativa</li>
                <li>Cliccando sul pulsante "conferma" si avr&agrave; prenotato l'annuncio; la conferma si ha in quanto si verr&agrave; portati nella pagine del dettaglio della prenotazione</li>
            </ol>
        </dd>
        <dt>Come posso vedere le mie prenotazioni?</dt>
        <dd>
            <p>Dopo aver fatto il <span xml:lang="en">login</span>, nel men&ugrave; apparir&agrave; la possibilit&agrave; di accedere alla pagine delle <a href="mie_prenotazioni.php">mie prenotazioni</a></p>
        </dd>
        <dt>Come posso inserire un nuovo annuncio?</dt>
        <dd>
            <p>Dopo aver fatto il <span xml:lang="en">login</span>, nel men&ugrave; apparir&agrave; la possibilit&agrave; di accedere alla pagina <a href="nuovo_annuncio.php">nuovo annuncio</a></p>
        </dd>
        <dt>Come posso modificare o eliminare un annuncio?</dt>
        <dd>

            <p>Dopo aver fatto il <span xml:lang="en">login</span>, nel men&ugrave; apparir&agrave; la possibilit&agrave; di accedere alla pagina <a href="miei_annunci.php">I mie annunci</a> dalla quale sara possibile selezionare un annuncio per poi modificarlo o eliminarlo</p>
        </dd>
        <dt>Non mi permette di eliminare un annuncio, come mai?</dt>
        <dd>
            <p>La nostra politica reclude la possibilit&agrave; di eliminare un annuncio per il quale vi siano delle prenotazioni future collegate.</p>
        </dd>
        <dt>Non mi permette di eliminare una prenotazione, come mai?</dt>
        <dd>
            <p>La nostra politica reclude la possibilit&agrave; di eliminare una prenotazione fintanto che questa &egrave; in corso.</p>

        </dd>
    </dl>
</div>
<FOOTER/>

</body>
</html>
