<!--<div id="footer"  >-->
<!--    <ul>-->
<!--        <li><a href="../pagine_php/condizioni_di_utilizzo.php" title="Vai alle condizioni di utilizzo di Frent">Condizioni di utilizzo</a></li>-->
<!--        <li><a href="../pagine_php/faq.php" title="Vai alla pagina delle FAQ"><abbr xml:lang="en" title="Frequently Asked Questions">FAQ</abbr></a></li>-->
<!--    </ul>-->
<!--    <img src="../../immagini/valid-xhtml10.png" alt="XHTML valid banner"/>-->
<!--    <span xml:lang="en">Frent - Progetto di Tecnologie Web A.A. 2019/2020 <em>All rights reserved</em></span>-->
<!--    <img src="../../immagini/vcss-blue.gif" alt="XHTML valid banner"/>-->
<!--</div>-->
<div id="footer">
    <ul>
        <li>Frent - Progetto di Tecnologie Web A.A. 2019/2020</li>
        <li><a href="./condizioni_di_utilizzo.php" title="Vai alle condizioni di utilizzo di Frent">Condizioni di
            utilizzo</a></li>
        <li><a href="./faq.php" title="Vai alla pagina delle FAQ"><abbr xml:lang="en" lang="en" title="Frequently Asked Questions">FAQ</abbr></a>
        </li>
    </ul>
</div>