<!-- HEADER PER UTENTE NON LOGGATO -->
<!--<div id="header">-->
    <a href="#content" class="aiuti_alla_navigazione" title="Salta il men&ugrave;">Salta il men&ugrave;</a>
    <div id="logo">
        <h1>Frent</h1>
    </div>
    <div id="nav">
        <ul>
            <li><a tabindex="1" href="./index.php" title="Vai alla pagina di ricerca degli annunci" xml:lang="en" lang="en">Home</a>
            </li>
            <li><a tabindex="2" href="./login.php" title="Vai alla pagina di accesso">Accedi</a></li>
            <li><a tabindex="3" href="./registrazione.php" title="Vai alla pagina di registrazione">Registrati</a></li>
        </ul>
    </div>
<!--</div>-->