<!-- HEADER PER UTENTE NON LOGGATO -->
<!--<div id="header">-->
    <div id="logo">
        <a href="#content" class="aiuti_alla_navigazione" title="Salta il men&ugrave;">Salta il men&ugrave;</a>
        <h1>Frent</h1>
	<a href="#nav" id="link_to_menu">Men&ugrave;</a>
    </div>
    <div id="nav">
        <ul>
            <li><a href="./index.php" title="Vai alla pagina di ricerca degli annunci" xml:lang="en" lang="en">Home</a>
            </li>
            <li><a href="./login.php" title="Vai alla pagina di accesso">Accedi</a></li>
            <li><a href="./registrazione.php" title="Vai alla pagina di registrazione">Registrati</a></li>
        </ul>
    </div>
<!--</div>-->
