<!-- HEADER PER UTENTE LOGGATO -->
<div id="header">
    <a href="#content" class="aiuti_alla_navigazione" title="Salta il men&ugrave;">Salta il men&ugrave;</a>
    <div id="logo">
        <h1>Frent</h1>
    </div>
    <div id="nav">
        <ul>
            <li><a tabindex="1" href="./index.php" title="Vai alla pagina di ricerca degli annunci" xml:lang="en" lang="en">Home</a>
            </li>
            <li><a tabindex="2" href="./mie_prenotazioni.php" title="Vai alla pagina delle prenotazioni effettuate">Le
                mie prenotazioni</a></li>
            <li><a tabindex="3" href="./miei_annunci.php" title="Vai alla pagina degli annunci posseduti">I miei
                annunci</a></li>
            <li><a tabindex="4" href="./mio_profilo.php" title="Vai alla pagina del profilo">Il mio
                profilo</a></li>
            <li><a tabindex="5" href="./script_logout_user.php" title="Effettua la disconnessione">Esci</a></li>
        </ul>
    </div>
</div>