<!-- HEADER PER UTENTE LOGGATO -->
<!--<div id="header">-->
    <div id="logo">
        <a href="#content" class="aiuti_alla_navigazione" title="Salta il men&ugrave;">Salta il men&ugrave;</a>
        <h1>Frent</h1>
    </div>
    <div id="nav">
        <ul>
            <li><a href="./approvazione_annunci.php" title="Vai alla pagina di approvazione degli annunci" xml:lang="en" lang="en">Approvazione annunci</a>
            </li>
            <li><a href="./script_logout_admin.php" title="Effettua la disconnessione">Esci</a>
            </li>
        </ul>
    </div>
<!--</div>-->