<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Frent</title>

    <meta name="description" content="Home page del popolare sito di affitto case Frent"/>
    <meta name="author" content="Tommaso Azzalin, Marco Ferrati, Giulio Umbrella, Xiaowei Wen"/>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <script src="./form_validator.js"   ></script>
    <link rel="icon" href="../immagini/icona.ico"/>
</head>
<body class="layout_colonna">
<HEADER/>

<div id="breadcrumb">
    <p>Ti trovi in: <span xml:lang="en" lang="en">Home</span></p>
</div>

<div id="content">
    <form  onsubmit="return validazione_form_ricerca();" class="form form_orizzontale" action="./script_controllo_dati_ricerca.php">
        <INFO_BOX/>
        <fieldset>
            <legend class="aiuti_alla_navigazione">Ricerca annuncio</legend>
            <div class="input_label_orizzontale">
                <label for="citta">Citt&agrave;</label>
                <input list="cities" name="citta" id="citta" placeholder="Citt&agrave;"/>
                <datalist id="cities"><CITIES_RICERCA/></datalist>
            </div>
            <!--Chiarire cosa fare per Safari -->
            <div class="input_label_orizzontale">
                <label for="dataInizio">Data Inizio</label>
                <input type="date" name="dataInizio" min="<MINDAYB/>" max="<MAXDAYB/>" value="<DATAINIZIO/>" id="dataInizio"/>
            </div>
            <div class="input_label_orizzontale">
                <label for="dataFine">Data Fine</label>
                <input type="date"  name="dataFine" min="<MINDAYE/>" max="<MAXDAYE/>" value="<DATAFINE/>" id="dataFine"/>
            </div>
            <div class="input_label_orizzontale">
                <label for="numOspiti">Num Ospiti</label>
                <input type="number" name="numOspiti" id="numOspiti" min="1" max="99" value="<NUMOSPITI/>"/>
            </div>
            <div class="input_label_orizzontale">
                <label for="pulsante_cerca" class="aiuti_alla_navigazione">Pulsante Ricerca</label>
                <input type="submit" id="pulsante_cerca" value="Cerca">
            </div>
        </fieldset>

    </form>

    <DELETE_USER_MESSAGE/>

    <h1>Ultimi annunci pubblicati</h1>
    <ul class="sei_pannelli">
        <RECENTI/>
        <!--        <li class="elemento_sei_pannelli">-->
        <!--            <a>-->
        <!--                ANNUNCIO PIU RECENTE 1-->
        <!--                <img src="./immagini/img1.png" alt="descrizione immagine di antemprima annuncio"/>-->
        <!--            </a>-->
        <!--        </li>-->
        <!--        <li class="elemento_sei_pannelli">-->
        <!--            <a>-->
        <!--                ANNUNCIO PIU RECENTE 2-->
        <!--                <img src="./immagini/img1.png" alt="descrizione immagine di anteprima annuncio"/>-->
        <!--            </a>-->
        <!--        </li>-->
        <!--        <li class="elemento_sei_pannelli">-->
        <!--            <a>-->
        <!--                ANNUNCIO PIU RECENTE 3-->
        <!--                <img src="./immagini/img1.png" alt="descrizione immagine di anteprima annuncio"/>-->
        <!--            </a>-->
        <!--        </li>-->
        <!--        <li class="elemento_sei_pannelli">-->
        <!--            <a>ANNUNCIO PIU RECENTE 4-->
        <!--                <img src="./immagini/img1.png" alt="descrizione immagine di anteprima annuncio"/>-->
        <!--            </a>-->
        <!--        </li>-->
        <!--        <li class="elemento_sei_pannelli">-->
        <!--            <a>-->
        <!--                ANNUNCIO PIU RECENTE 5-->
        <!--                <img src="./immagini/img1.png" alt="descrizione immagine di anteprima annuncio"/>-->
        <!--            </a>-->
        <!--        </li>-->
        <!--        <li class="elemento_sei_pannelli">-->
        <!--            <a>-->
        <!--                ANNUNCIO PIU RECENTE 6-->
        <!--                <img src="./immagini/img1.png" alt="descrizione immagine di anteprima annuncio"/>-->
        <!--            </a>-->
        <!--        </li>-->
    </ul>
</div>


<div id="footer">
    <ul>
        <li>Frent - Progetto di Tecnologie Web A.A. 2019/2020</li>
        <li><a href="./condizioni_di_utilizzo.php" title="Vai alle condizioni di utilizzo di Frent">Condizioni di
            utilizzo</a></li>
        <li><a href="./faq.php" title="Vai alla pagina delle FAQ"><abbr xml:lang="en" lang="en"
                                                                        title="Frequently Asked Questions">FAQ</abbr></a>
        </li>
        <ADMINLINK/>
    </ul>
</div>

</body>
</html>
