<li>
    <div class="intestazione_lista">
        <a href="./riepilogo_prenotazione.php?id=<ID/>"
           title="Vai al riepilogo della prenotazione presso $nomeAnnuncio\">PREN
            <ID/>
            -
            <TITOLO/>
        </a>
    </div>
    <div class="corpo_lista corpo_lista_prenotazioni">
        <div class="dettagli_prenotazione">
            <img src="<PATH/>" alt="Immagine di <TITOLO/>" longdesc="<DESC/>"/>
            <p>Indirizzo:
                <INDIRIZZO/>
            </p>
            <p>Periodo: dal
                <DI/>
                al
                <DF/>
            </p>
            <p>Numero ospiti:
                <NO/>
            </p>
        </div>
        <div class="opzioni_prenotazione">
            <p>Totale: &euro;
                <PREZZO/>
            </p>
            <a href="mailto:<MAIL/>" title="Contatta il proprietario per posta elettronica">Contatta il
            proprietario</a>
        </div>
    </div>
</li>