<li>
    <div class="intestazione_commento">
        <img src="<PATH/>" alt="Immagine di profilo"/>
        <div>
            <p class="username_commento">
                <USERNAME/>
            </p>
            <p class="data_commento">
                <DATACOMMENTO/>
            </p>
        </div>
    </div>
    <div class="corpo_commento">
        <h1>
            <TITOLOCOMMENTO/>
        </h1>
        <p>Votazione:
            <VALUTAZIONE/>
        </p>
        <p>
            <TESTO/>
        </p>
    </div>
</li>