<li><div class="intestazione_lista">
    <a href="dettagli_annuncio.php?id=<ID/>" ><TITOLO/></a>
    <p>Stato: <STATO/> - Valutazione media: <PUNTEGGIO/></p>
</div>
    <div class="corpo_lista"><img src="<PATH/>" alt="<ANTEPRIMADESC/>"/>
        <div>
            <p><DESC/></p>
            <a class="link_gestisci_annuncio" href="./script_salva_dati_modifica_annuncio_in_session.php?id=<ID/>"
               title="Vai alla gestione dell'annuncio">Gestione annuncio</a>
        </div>
    </div>
</li>