<li>
    <div class="corpo_lista lista_storico_prenotazioni">
    <ul>
        <li><span xml:lang="en" lang='en' class="intestazione_campo">Username:</span>
            <a href="mailto:<MAIL/>" title="Manda una mail all'ospite"><USERNAME/></a></li>
        <li class="intestazione_campo">Numero ospiti: <NO/></li>
        <li class="intestazione_campo">Data inizio: <DI/></li>
        <li class="intestazione_campo">Data fine: <DF/></li>
        <li class="intestazione_campo">Totale prenotazione: &euro; <TOTALE/></li>
    </ul>
    </div>
</li>