<div id="content" >
    <h1>Accedi</h1>
    <form action="<PAGE/>" method="post" class="form form_verticale">
        <div id="credenziali_errate"></div>
        <fieldset>
            <legend class="aiuti_alla_navigazione" >Modulo di accesso</legend>
            <label for="user"><span lang="en">E-mail</span></label>
            <input type="text" name="user" id="user" <VALUEUSERNAME>/>

            <label for="password" lang="en">Password</label>
            <input type="password" name="password" id="password" <VALUEPASSWORD>/>
            <label class="aiuti_alla_navigazione" for="accedi">Accedi</label>
            <input type="submit" id="accedi" name="accedi" value="Accedi"/>

        </fieldset>
    </form>
</div>