<div id="content" >
    <h1>Accedi</h1>
    <form onsubmit="return validazione_form_login();" action="<PAGE/>" method="post" class="form form_verticale"   >
        <div id="credenziali_errate"></msg></div>
        <fieldset>
            <legend class="aiuti_alla_navigazione" >Modulo di accesso</legend>
            <div>
            <label for="user"><span lang="en">E-mail</span></label>
            <input type="text" name="user" id="user" value="<VALUEUSERNAME>" />
            </div>
            <div>
            <label for="password" lang="en">Password</label>
            <input type="password" name="password" id="password" value="<VALUEPASSWORD>"/>
            </div>
            <div>
                <label class="aiuti_alla_navigazione" for="accedi">Accedi</label>
            <input type="submit" id="accedi" name="accedi" value="Accedi"/>
            </div>
        </fieldset>
    </form>
</div>