<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
  <meta http-equiv="Content-Type" content="text/html charset=utf-8"/>
  <title>Login - Frent</title>

  <meta name="description" content="Login sul sito di Frent"/>
  <meta name="keyword" content="Casa,Appartamento,Affitto,Frent, Frent login"/>
  <meta name="language" content="italian it"/>
  <meta name="author" content="Tommaso Azzalin, Marco Ferrati, Giulio Umbrella, Xiaowei Wen"/>

  <link rel="stylesheet" type="text/css" href="../css/main.css"/>
  <link rel="icon" href="../immagini/icona.ico"/>
</head>
<body class="layout_centrale">
  <div id="logo">
    <h1>Frent</h1>
    <a href="#nav" id="link_to_menu">Men&ugrave;</a>
  </div>
  <div id="nav">
    <ul>
      <li><a tabindex="1" href="./index.php" title="Vai alla pagina di ricerca degli annunci" xml:lang="en" lang="en">Home</a></li>
    </ul>
  </div>

<div id="breadcrumb" >
  <p>Ti trovi in: Pagina di accesso per amministratori</p>
</div>

<FORM/>

<FOOTER/>

</body>

</html>
