<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=utf-8"/>
    <title>Il mio profilo | Frent</title>
    <meta name="author" content="Tommaso Azzalin, Marco Ferrati, Giulio Umbrella, Xiaowei Wen"/>
    <link rel="stylesheet" type="text/css" href="../css/main.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../css/print.css" media="print"/>
    <link rel="icon" href="../immagini/icona.ico"/>
    <!--  <script src="script.js"></script>
     -->
</head>
<body class="layout_colonna">
<HEADER/>
<div id="breadcrumb">
    <p>Ti trovi in: <a href="./index.php" title="Vai alla pagina delle ricerca annunci" ><span xml:lang="en" lang="en">Home</span></a> &gt;&gt; Il mio profilo</p>
</div>
<!--div da mostrare quando la pagina è solamente visualizzabile. -->
<div id="content">
    <!--  quando viene cliccato il link di cui sopra, viene generata attraverso php una la pagina modifica_mio_profilo-->
    <INFO_BOX/>
    <div class="informazioni_personali">
        <img src="<PATH/>" alt="tuo foto di profilo"/>
        <a class="link_modifica" href="./modifica_mio_profilo.php">Modifica i dati</a>
        <p>Ciao <NOME/>!</p>
        <p><span xml:lang="en">Username</span>: <USERNAME/></p>
        <p><span xml:lang="en">E-mail</span>: <MAIL/></p>
    </div>
</div>
<FOOTER/>
</body>
</html>
