<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=utf-8"/>
    <title>Il mio profilo</title>

    <script src="./form_validator.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../css/print.css" media="print"/>
    <link rel="icon" href="../immagini/icona.ico"/>
    <!--  <script src="script.js"></script>
     -->
</head>
<body class="layout_centrale">
<HEADER/>
<div id="breadcrumb">
    <p>Ti trovi in: <a href="./index.php" title="Vai alla pagina delle ricerca annunci"><span
            xml:lang="en">Home</span></a> &gt;&gt; <a href="mio_profilo.php">Il mio profilo</a> &gt;&gt; Modifica
        profilo</p>
</div>

<div id="content">
    <h1>Modifica i dati del profilo</h1>

    <INFO_BOX/>

    <div class="modifica_immagine_profilo">
        <img src="<PATH/>" id="immagine_profilo" alt="Immagine di profilo"/>
        <form method="post" onsubmit="return validazione_form_modifica_foto_profilo();"
              action="./modifica_mio_profilo.php" class="form form_orizzontale add_margin_bottom"
              enctype="multipart/form-data">
            <fieldset>
                <legend>Cambia la tua immagine di profilo</legend>
                <label for="nuova_img_profilo">Sono accettati file in formato <span xml:lang="en">JPG</span>, <span
                        xml:lang="en">JPEG</span>, <span xml:lang="en">PNG</span>, dalla dimensione massima di 2
                    MB.</label>
                <input type="file" accept=".png, .jpg, .jpeg" id="nuova_img_profilo" name="nuova_img_profilo"/>
                <div class="confirm_delete_buttons">
                    <input type="submit" value="Conferma" name="modifica_img_profilo"/>
                    <input type="reset" value="Annulla"/>
                </div>
            </fieldset>
        </form>
    </div>

    <form onsubmit="return validazione_form_cambio_password();" action="./modifica_mio_profilo.php" method="post"
          class="form form_verticale form_modifica">
        <fieldset>
            <legend class="aiuti_alla_navigazione">Cambia Password</legend>
            <div>
                <label for="nuova_password">Modifica Password</label>
                <input type="password" name="nuova_password" id="nuova_password"/>
            </div>
            <div>
                <label for="conferma_nuova_password">Conferma Password</label>
                <input type="password" name="conferma_nuova_password" id="conferma_nuova_password"/>

            </div>
            <label for="modifica_password" class="aiuti_alla_navigazione">Conferma cambio password</label>
            <input id="modifica_password" name="modifica_password" type="submit" value="Conferma modifica password"/>
        </fieldset>
    </form>

    <form onsubmit="return validazione_form_modifica_profilo();" action="./modifica_mio_profilo.php" method="post"
          class="form form_verticale form_modifica">
        <fieldset>
            <legend class="aiuti_alla_navigazione">Informazioni generali</legend>
            <div>
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" value="<NOME/>"/>
            </div>
            <div>
                <label for="cognome">Cognome</label>
                <input type="text" name="cognome" id="cognome" value="<COGNOME/>"/>

            </div>
            <div>
                <label for="mail" xml:lang="en">E-mail</label>
                <input type="text" name="mail" value="<MAIL/>" id="mail"/>
            </div>
            <div>
                <label for="username" xml:lang="en">Username</label>
                <input type="text" name="username" id="username" value="<USERNAME/>"/>

            </div>
            <div>
                <label for="telefono">Numero di telefono</label>
                <input type="text" name="telefono" id="telefono" value="<TELEFONO/>"/>

            </div>


        </fieldset>
        <fieldset id="data_di_nascita">
            <legend>Data di nascita</legend>
            <div class="input_label_orizzontale primo_elemento_input_label_orizzontale">
                <label id="giorno_nascita_label" for="giorno_nascita">Giorno</label>
                <select id="giorno_nascita" name="giorno_nascita">
                    <GIORNO/>
                </select>
            </div>
            <div class="input_label_orizzontale">
                <label for="mese_nascita">Mese</label>
                <select id="mese_nascita" name="mese_nascita">
                    <MESE/>
                </select>
            </div>
            <div class="input_label_orizzontale">
                <label for="anno_nascita">Anno</label>
                <select id="anno_nascita" name="anno_nascita">
                    <ANNO/>
                </select>
            </div>
        </fieldset>
        <fieldset>
            <label class="aiuti_alla_navigazione" for="modifica_dati_personali">Modifica</label>
            <input type="submit" id="modifica_dati_personali" name="modifica_dati_personali" value="Modifica dati"/>
        </fieldset>
    </form>

    <form action="./script_elimina_profilo.php" class="form form_verticale">
        <fieldset>
            <legend class="aiuti_alla_navigazione">Elimina il mio profilo</legend>
            <input class="destroy_button" type="submit" value="Elimina profilo"/>
        </fieldset>
    </form>
    <p class="aligned_with_form">Se elimini il tuo profilo perderai tutti i dati ad esso connessi. Per maggiori
        informazioni, visita le <a href="condizioni_di_utilizzo.php">condizioni di utilizzo</a>.</p>
</div>

<FOOTER/>
</body>
</html>
