<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
    <meta http-equiv="Content-Type" content="text/html charset=utf-8"/>
    <title>Frent</title>

    <meta name="title" content="Nome affitto case"/>
    <meta name="description" content="Errore, pagina non trovata"/>
    <meta name="author" content="Tommaso Azzalin, Marco Ferrati, Giulio Umbrella, Xiaowei Wen"/>

    <link rel="stylesheet" type="text/css" href="../css/main.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../css/print.css" media="print"/>
    <link rel="icon" href="../immagini/icona.ico"/>
</head>
<body class="layout_colonna">

<HEADER/>

<div id="breadcrumb">
    <p>Ti trovi in: <a href="index.php" title="Vai alla pagina delle ricerca annunci"><span xml:lang="en">Home</span></a> &gt;&gt; Pagina non trovata!</p>

</div>
<div id="content">
    <h1>Errore 404</h1>
    <span id="img_errore_404"></span>
    <h2>Opsss, la pagina a cui stai cercando di accedere non esiste!</h2>
    <p><a href="mailto:assistenza@frent.it" title="Invia un messaggio di posta elettronica">Contattaci via mail</a> e ti aiuteremo!</p>
    <p>Se stai cercando di accedere a un annuncio che avevi tra i preferiti, probabilmente quest'annuncio &egrave; stato
        rimosso. Ci dispiace tanto!</p>
    <p>Vuoi prenotare una nuova vacanza? Fai una <a href="index.php">nuova ricerca</a></p>
</div>

<FOOTER/>

</body>
</html>
