<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=utf-8"/>
    <title>Registrazione - Frent</title>

    <meta name="description" content="Registrati al sito di Frent"/>
    <meta name="keyword" content="Casa,Appartamento,Affitto,Frent, Frent registrazione"/>
    <meta name="language" content="italian it"/>
    <meta name="author" content="Tommaso Azzalin, Marco Ferrati, Giulio Umbrella, Xiaowei Wen"/>


    <link rel="stylesheet" type="text/css" href="../../css/main.css"/>
    <link rel="icon" href="../../immagini/icona.ico"/>

</head>
<body class="layout_centrale">
<HEADER/>

<div id="breadcrumb" >
    <p> Ti trovi in: <a href="index.html" xml:lang="en">Home</a> &gt; &gt; Registrazione</p>
</div>

<div id="content" >
  <h1>Registrati</h1>
    <form action="" method="post" class="form form_verticale">
        <fieldset>
            <legend class="aiuti_alla_navigazione">Informazioni generali</legend>
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome"/>

            <label for="cognome">Cognome</label>
            <input type="text" name="cognome" id="cognome"/>

            <label for="mail" lang="en">E-mail</label>
            <input type="text" name="mail" id="mail"/>

            <label for="username" lang="en">Username</label>
            <input type="text" name="username" id="username"/>

            <label for="password" lang="en">Password</label>
            <input type="password" name="password" id="password"/>

            <label for="ripeti_password" lang="en">Ripeti password</label>
            <input type="password" name="ripeti_password" id="ripeti_password"/>

            <label for="telefono">Numero di telefono</label>
            <input type="text" name="telefono" id="telefono"/>
        </fieldset>
        <fieldset id="data_di_nascita">
            <legend>Data di nascita</legend>
            <label for="birth_day">Giorno:</label>
            <select id="birth_day" tabindex="11">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <!--TODO: PHP-->
            </select>
            <label for="birth_month">Mese:</label>
            <select id="birth_month" tabindex="12">
                <option value="1">Gennaio</option>
                <option value="2">Febbraio</option>
                <option value="3">Marzo</option>
                <option value="4">Aprile</option>
                <!--TODO: PHP-->
            </select>
            <label for="birth_year">Anno:</label>
            <select id="birth_year" tabindex="13">
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <!--TODO: PHP-->
            </select>

        </fieldset>
        <fieldset>
            <label class="aiuti_alla_navigazione" for="registrati">Registrati</label>
            <input type="submit" id="registrati" value="Registrati"/>
            <label class="aiuti_alla_navigazione" for="resetta" xml:lang="en">Reset</label>
            <input type="reset" id="resetta" value="Reset"/>
        </fieldset>
    </form>
    <p class="aligned_with_form"> Hai già un <span lang="en">account</span>? <a href="../pagine_php/login.php">Accedi</a>!</p>
</div>

<div  id="footer">
    <ul>
        <li>Frent - Progetto di Tecnologie Web A.A. 2019/2020</li>
        <li><a href="condizioni_di_utilizzo.html" title="Vai alle condizioni di utilizzo di Frent">Condizioni di
            utilizzo</a></li>
        <li><a href="../../html/faq.html" title="Vai alla pagina delle FAQ"><abbr xml:lang="en" title="Frequently Asked Questions">FAQ</abbr></a>
        </li>
    </ul>
</div>

</body>

</html>
