<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=utf-8"/>
    <title>Registrazione | Frent</title>

    <meta name="description" content="Registrati al sito di Frent ed inizia a sfruttare al pieno i suoi servizi"/>
    <meta name="keywords" content="Frent,registrazione,registrati,accedi,credenziali"/>
    <meta name="author" content="Tommaso Azzalin, Marco Ferrati, Giulio Umbrella, Xiaowei Wen"/>


    <script src="./form_validator.js" type="text/javascript" ></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../css/print.css" media="print"/>
    <link rel="icon" href="../immagini/icona.ico"/>

</head>
<body class="layout_centrale">
<HEADER/>

<div id="breadcrumb">
    <p>Ti trovi in: <a href="index.php" xml:lang="en">Home</a> &gt;&gt; Registrazione</p>
</div>

<div id="content">
    <h1>Registrati</h1>
    <form onsubmit="return validazione_form_registrazione();" action="./registrazione.php" method="post"
          class="form form_verticale">
        <INFO_BOX/>
        <fieldset>
            <legend class="aiuti_alla_navigazione">Informazioni generali</legend>
            <div>
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" value="<VALUENOME/>"/>

            </div>
            <div>
                <label for="cognome">Cognome</label>
                <input type="text" name="cognome" id="cognome" value="<VALUECOGNOME/>"/>

            </div>
            <div>
                <label for="mail" lang="en">E-mail</label>
                <input type="text" name="mail" id="mail" value="<VALUEMAIL/>"/>

            </div>
            <div>
                <label for="username" lang="en">Username</label>
                <input type="text" name="username" id="username" value="<VALUEUSERNAME/>"/>

            </div>
            <div>
                <label for="password" lang="en">Password</label>
                <input type="password" name="password" id="password" value="<VALUEPASSWORD/>"/>

            </div>
            <div>
                <label for="ripeti_password" lang="en">Ripeti password</label>
                <input type="password" name="ripeti_password" id="ripeti_password" value="<VALUERIPETIPASSWORD/>"/>

            </div>

            <div>
                <label for="telefono">Numero di telefono</label>
                <input type="text" name="telefono" id="telefono" value="<VALUETELEFONO/>"/>

            </div>


        </fieldset>
        <fieldset id="data_di_nascita">
            <legend>Data di nascita</legend>
            <div class="input_label_orizzontale primo_elemento_input_label_orizzontale">
                <label for="giorno_nascita">Giorno</label>
                <select id="giorno_nascita" name="giorno_nascita">
                    <GIORNO/>
                </select>
            </div>
            <div class="input_label_orizzontale">
                <label for="mese_nascita">Mese</label>
                <select id="mese_nascita" name="mese_nascita">
                    <MESE/>
                </select>
            </div>
            <div class="input_label_orizzontale">
                <label for="anno_nascita">Anno</label>
                <select id="anno_nascita" name="anno_nascita">
                    <ANNO/>
                </select>
            </div>
        </fieldset>
        <fieldset>
            <label class="aiuti_alla_navigazione" for="registrati">Registrati</label>
            <input type="submit" id="registrati" name="registrati" value="Registrati"/>
            <label class="aiuti_alla_navigazione" for="resetta" xml:lang="en">Reset</label>
            <input type="reset" id="resetta" value="Reset"/>
        </fieldset>
    </form>
    <p class="aligned_with_form"> Hai già un <span lang="en">account</span>? <a href="./login.php">Accedi</a>!</p>
</div>
<FOOTER/>

</body>

</html>
