<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <title>Frent</title>

    <meta name="description" content="Home page del popolare sito di affitto case Frent" />
    <meta name="keyword" content="Casa,Appartamento,Affitto,Frent" />
    <meta name="language" content="italian it" />
    <meta name="author" content="Tommaso Azzalin, Marco Ferrati, Giulio Umbrella, Xiaowei Wen" />

      <link rel="stylesheet" type="text/css" href="../css/main.css" />
      <link rel="icon" href="../immagini/icona.ico" />
  </head>
  <body class="layout_tre_pannelli">

<HEADER/>

 <div id="breadcrumb" >
    <p>Ti trovi in: <a href="index.php" title="Vai alla pagina delle ricerca annunci" xml:lang="en" lang="en">Home</a> &gt;&gt; Risultati</p>
 </div>

<!-- Il form di ricerca deve avere i parametri della ricerca -->
<div id="laterale" >
  <form action="./risultati.php" class="form form_verticale">

      <fieldset class="formVerticale">
      <legend>Ricerca annuncio</legend>

      <label for="citta">Città:</label>
      <input type="text" name="citta" id="citta" placeholder="Città" value="<VALUECITTA/>" />
      <!--Chiarire cosa fare per Safari -->
      <label for="dataInizio">Data Inizio</label>
      <input type="date" name="dataInizio" id="dataInizio" min="<MINDAYB/>" max="<MAXDAYB/>" value="<VALUEINIZIO/>"/>
      <label for="dataFine">Data Fine</label>
      <input type="date" name="dataFine" id="dataFine" value="<VALUEFINE/>" min="<MINDAYE/>" max="<MAXDAYE/>" />
      <label for="numOspiti">Num Ospiti</label>
      <input type="number" name="numOspiti" id="numOspiti" min="1" max="99" value="<VALUENUMERO/>" />
      <input type="submit" id="pulsante_cerca" value="Cerca" >

    </fieldset>

  </form>
</div>

<div id="content" class="list">
<ul>
    <RISULTATI/>
<!--  <li>-->
<!--   <div class="intestazione_lista">-->
<!--      <a href="./dettagli_annuncio.php?id=1"  tabindex="12">Titolo</a>-->
<!--      <p>Punteggio: Num Recensioni: </p>-->
<!--   </div>-->
<!--   <div class="corpo_lista">-->
<!--      <img src ="../../immagini/img1.png" alt="Foto copertina della casa" />-->
<!--      <div class="descrizione_annuncio">-->

<!--        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
<!--        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
<!--        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.-->
<!--        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui offi</p>-->
<!--          <p class="prezzototale">55.5 &euro; persona/notte</p>-->
<!--     </div>-->
<!--   </div>-->
<!-- </li>-->
</ul>
</div>
<FOOTER/>

</body>
</html>
