<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
<!--    <meta http-equiv="Content-Type" content="text/html charset=utf-8"/>-->
    <title>Storico Prenotazione</title>

    <meta name="title" content="Nome affitto case"/>
    <meta name="description" content="Home page del popolare sito di affitto case"/>
    <meta name="keyword" content="Case,Affitto"/>
    <meta name="language" content="italian it"/>
    <meta name="author" content="Tommaso Azzalin, Marco Ferrati, Giulio Umbrella, Xiaowei Wen"/>

    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <link rel="icon" href="../immagini/icona.ico"/>
</head>
<body class="layout_tre_pannelli">

<HEADER/>
<div id="breadcrumb">
    <p>Ti trovi in:<a href="index.php" tabindex="5" title="Vai alla pagina di ricerca" xml:lang="en" lang="en">Home</a> &gt;&gt; <a href="./miei_annunci.php" title="Torna nei miei annunci" tabindex="7">I miei annunci</a>&gt;&gt;<TITOLO/>
    </p>
</div>

<div id="laterale">
    <ul class="menu_gestione_annuncio">
        <li><a href="./modifica_annuncio.php" title="Modificare l'annuncio" tabindex="8">Modifica</a>
        </li>
<!--        <li><a href="./gestione_indisponibilita.php"-->
<!--               tabindex="9" title="Visualizzare, aggiungere, eliminare le indisponibilit&agrave;-->
<!--                    relative a questo annuncio">Gestione Indisponibilit&agrave;</a></li>-->
        <li class="menu_gestione_annuncio_selected">Storico</li>
        <li class="menu_gestione_annuncio_delete"><a href="./script_elimina_annuncio.php?id=<IDANNUNCIO/>" tabindex="12">Elimina Annuncio</a></li>
    </ul>
</div>

<div id="content" class="content_gestione_annuncio">
    <h1 class="titolo_gestione_annuncio">Gestione annuncio <TITOLO/></h1> <!--TODO: PHP-->

    <h2>Prenotazione attuale</h2>
    <ul>
        <PRENOTAZIONECORRENTE/>
<!--        <li>-->
<!--            <div class="corpo_lista lista_storico_prenotazioni">-->
<!--                <ul>-->
<!--                    <li><span xml:lang="en" class="intestazione_campo">Username:</span>-->
<!--                        <a href="mailto:mail" tabindex="9" title="manda una mail al guest">xwen</a></li>-->
<!--                    <li class="intestazione_campo">Numero ospiti: 2</li>-->
<!--                    <li class="intestazione_campo">Data inizio: 22/02/2019</li>-->
<!--                    <li class="intestazione_campo">Data fine: 28/02/2019</li>-->
<!--                    <li class="intestazione_campo">Totale prenotazione: 200&euro;</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
    </ul>

    <h2>Prenotazioni future</h2>
    <ul>
        <PRENOTAZIONIFUTURE/>
<!--        <li>-->
<!--            <div class="corpo_lista lista_storico_prenotazioni">-->
<!--                <ul>-->
<!--                    <li><span xml:lang="en" class="intestazione_campo">Username:</span>-->
<!--                        <a href="mailto:mail" tabindex="9" title="manda una mail al guest">xwen</a></li>-->
<!--                    <li class="intestazione_campo">Numero ospiti: 2</li>-->
<!--                    <li class="intestazione_campo">Data inizio: 22/02/2019</li>-->
<!--                    <li class="intestazione_campo">Data fine: 28/02/2019</li>-->
<!--                    <li class="intestazione_campo">Totale prenotazione: 200&euro;</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
    </ul>

    <h2>Prenotazioni passate</h2>
    <ul>
        <PRENOTAZIONIPASSATE/>
<!--        <li>-->
<!--            <div class="corpo_lista lista_storico_prenotazioni">-->
<!--                <ul>-->
<!--                    <li><span xml:lang="en" class="intestazione_campo">Username:</span>-->
<!--                        <a href="mailto:mail" tabindex="9" title="manda una mail al guest">xwen</a></li>-->
<!--                    <li class="intestazione_campo">Numero ospiti: 2</li>-->
<!--                    <li class="intestazione_campo">Data inizio: 22/02/2019</li>-->
<!--                    <li class="intestazione_campo">Data fine: 28/02/2019</li>-->
<!--                    <li class="intestazione_campo">Totale prenotazione: 200&euro;</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
    </ul>

</div>

<FOOTER/>
</body>
</html>
