<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8" />
    <title>File Upload Test</title>
</head>

<body>

    <fieldset>
        <legend>
            <h1>File Upload Test</h1>
        </legend>
        <form action="../test_upload.php" method="post" enctype="multipart/form-data">
            <label for="uploadSingolo">Prova il caricamento singolo</label>
            <input type="file" name="uploadSingolo" id="uploadSingolo">
            <label for="uploadMultiplo">Prova il caricamento multiplo</label>
            <input type="file" name="uploadMultiplo[]" id="uploadMultiplo" multiple>
            <input type="submit" value="Upload Image" name="submit">
        </form>
    </fieldset>

</body>

</html>