.DS_Store
.idea/

*.aux
*.log
*.pdf
*.synctex.gz
*.fdb_latexmk
*.fls
*.out
*.toc
*.synctex(busy)
.vscode/
Database/data_builder/*.csv
uploads/user*

/~$.docx

~$ppa_del_sito.docx

~WRL0003.tmp

*.log
