<!-- Header unico (DA USARE FINO ALL'INIZIO DI PHP/JS -->
<div id="header">
    <div id="logo">
        <h1>Frent</h1>
    </div>
    <div id="nav">
        <ul>
            <li><a tabindex="1"  href="index.html" title="Vai alla pagina di ricerca degli annunci">Cerca annunci</a></li>
            <li><a  tabindex="2" href="login.html" title="Vai alla pagina di accesso">Accedi</a></li>
            <li><a  tabindex="3" href="registrazione.html" title="Vai alla pagina di registrazione">Registrati</a></li>
            <li><a  tabindex="4" href="mie_prenotazioni.html" title="Vai alla pagina delle prenotazioni effettuate">Le mie prenotazioni</a></li>
            <li><a  tabindex="5" href="miei_annunci.html" title="Vai alla pagina degli annunci posseduti">I miei annunci</a></li>
            <li><a  tabindex="6" href="mio_profilo.html" title="Vai alla pagina del profilo">Il mio profilo</a></li>
            <li><a  tabindex="7" href="#" title="Effettua la disconnessione">Esci</a></li>
        </ul>
    </div>
</div>

<!-- Header per utente loggato -->
<div id="header">
    <div id="logo">
        <h1>Frent</h1>
    </div>
    <div id="nav">
        <ul>
            <li><a  tabindex="1" href="index.html" title="Vai alla pagina di ricerca degli annunci">Cerca annunci</a></li>
            <li><a  tabindex="2" href="mie_prenotazioni.html" title="Vai alla pagina delle prenotazioni effettuate">Le mie prenotazioni</a></li>
            <li><a  tabindex="3" href="miei_annunci.html" title="Vai alla pagina degli annunci posseduti">I miei annunci</a></li>
            <li><a  tabindex="4" href="mio_profilo.html" title="Vai alla pagina del profilo">Il mio profilo</a></li>
            <li><a  tabindex="5" href="#" title="Effettua la disconnessione">Esci</a></li>
        </ul>
    </div>
</div>

<!-- Header per utente non loggato -->
<div id="header">
    <div id="logo">
        <h1>Frent</h1>
    </div>
    <div id="nav">
        <ul>
            <li><a  tabindex="1" href="index.html" title="Vai alla pagina per la ricerca degli annunci">Cerca annunci</a></li>
            <li><a  tabindex="2" href="login.html" title="Vai alla pagina di accesso">Accedi</a></li>
            <li><a  tabindex="3" href="registrazione.html" title="Vai alla pagina di registrazione">Registrati</a></li>
        </ul>
    </div>
</div>