<li>
    <div class="intestazione_lista">
        <a href="dettagli_annuncio.php?id=<ID/>&dataInizio=<DI/>&dataFine=<DF/>&numOspiti=<NO/>"
        ><TITOLO/></a>
        <p>Punteggio: <PUNTEGGIO/> - Num Recensioni: <NUMRECENSIONE/></p>
    </div>
    <div class="corpo_lista">
        <img src ="<PATH/>" alt="<DESCANTE/>">"/>
        <div class="descrizione_annuncio">
            <p class="testo_descrizione_annuncio"><DES/></p>
            <p class="prezzo_totale">Prezzo: &euro; <PREZZO/> persona/notte</p>
        </div>
    </div>
</li>